<div>
<h2>暫定的なホーム画面です。</h2>
<ul>
  <li><%= link_to "トップページ", controller:"main_page", action:"index" %></li>
  <li><%= link_to "月面マップ", controller:"moon_map", action:"index" %></li>
  <li><%= link_to "月面ステレオ", controller:"moon_stereo", action:"index" %></li>
</ul>
</div>
