
<div id="contents" class="clearfix">
  <div class="s-left">
    <button>aaa</button>
  </div>
  <div class="s-center">
    <div id="map3d" style="height: 700px;"></div>
  </div>
  <div class="s-right">
    <button>ccc</button>
  </div>
</div>



<%= javascript_include_tag "https://www.google.com/jsapi" %>
<%= javascript_include_tag "moon_stereo/google_earth.js" %>
<%= stylesheet_link_tag "moon_stereo/index.css" %>
