<h1>MoonStereo#index</h1>
<p>Find me in app/views/moon_stereo/index.html.erb</p>
<div id="map3d" style="height: 800px; width: 1200px;"></div>
<%= javascript_include_tag "https://www.google.com/jsapi" %>
<script type="text/javascript">
    var ge;
    google.load("earth", "1", {"other_params":"sensor=true_or_false"});

    function init() {
      // google.earth.createInstance('map3d', initCB, failureCB);
      google.earth.createInstance('map3d', initCB, failureCB, { database: 'http://khmdb.google.com/?db=moon' });
    }

    function initCB(instance) {
      ge = instance;
      ge.getWindow().setVisibility(true);
      var lookAt = ge.createLookAt('');
      lookAt.set(0.681400, 23.460550, 0, ge.ALTITUDE_RELATIVE_TO_GROUND, -1.946649, 0, 130);
    }

    function failureCB(errorCode) {
    }

    google.setOnLoadCallback(init);
</script>
