<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="hueControl.js" charset="utf-8"></script>
</head>
<body>
    <h1>Hello</h1>
    Moon Age:<input type="text" id="moon_age" />
    <a href="#" id="set_moon_age">Change Moon Age</a>
    <br />
    Date:<input type="text" id="year" />
    <input type="text" id="month" />
    <input type="text" id="day" />
    <input type="text" id="hour" />
    <input type="text" id="minute" />
    <a href="#" id="calc_moon_age">Change Moon Age by date</a>
    <br />
    <a href="#" id="alloff">All Off</a>
    <br />
    <a href="#" id="allon">All On</a>
</body>
</html>