<h1>Hello</h1>
Moon Age:<input type="text" id="moon_age" />
<button id="set_moon_age">Change Moon Age</button>
<br />
Date:<input type="text" id="year" />
<input type="text" id="month" />
<input type="text" id="day" />
<input type="text" id="hour" />
<input type="text" id="minute" />
<button type="button" id="calc_moon_age">Change Moon Age by date</button>
<br />
<button id="alloff">All Off</button>
<br />
<button id="allon">All On</button>
<br />
<button id="get_lights">Get Lights</button>