html , body  {
    width: 100%;
    height: 100%;
    background: #000;
}

#time {
    color: #fff;
}

#box {
    background: url(/assets/moon.jpg) center no-repeat;
    color: #fff;
    background-size:contain;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -440px;
    margin-top: -300px;
    width: 980px;
    height: 640px;
    z-index: 10;
    overflow:hidden;
}

#box .boxInner {
    padding: 0 12px;
}

#box a.apollo14,
#box a.apollo15,
#box a.apollo16 {
    background: #FFF;
    width: 0;
    height: 0;
    border-radius: 30px;
    text-indent: -9999pt;
    text-decoration: none;
    z-index: 100;
    text-align: center;
    position: relative;
    display: inline-block;
    text-align: center;
}

#box #apollo14 {
    width: 80px;
    height: 80px;
    top: 330px;
    left: 355px;
    position:relative;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#box #apollo15 {
    width: 80px;
    height: 80px;
    top: 140px;
    left: 330px;
    position:relative;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#box #apollo16 {
    width: 80px;
    height: 80px;
    top: 290px;
    left: 370px;
    position:relative;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}