<<<<<<< HEAD

</head>
<body style="margin: 0px">
  <div style="position: absolute">
    <canvas id="canvas" width="1280" height="720"></canvas>
  </div>
  <div align="center">
    <img src="./moon0053.png" height="100%">
  </div>
    
</body>
</html>
=======
<h1>MoonMap#index</h1>
<p>Find me in app/views/moon_map/index.html.erb</p>
<p>hoge</p>

>>>>>>> 2e2f47c2b4ecd6c766d336df6589c3c79acc80fc
