<div id="contents">
  <div class="s-left"></div>
  <div class="s-center">
    <canvas id="canvas" width="1280" height="900"></canvas>
  </div>
  <div class="s-right"></div>
  <!-- <div style="position: absolute"> -->
  <!-- </div> -->
  <!-- <div align="center"> -->
    <!-- <img src="./moon0053.png" height="100%"> -->
  <!-- </div> -->
</div>
<%= javascript_include_tag "moon_map/sels_draw.js" %>
<%= stylesheet_link_tag "moon_map/index.css" %>
