<h1>MoonMap#index</h1>
<p>Find me in app/views/moon_map/index.html.erb</p>
<div style="margin:0 auto; width:980px;">
	<div style="background:#F00">a</div>
	<canvas id="canvas" width="980" height="400">
    赤い四角形を表示
  </canvas>
</div>        
<script>
    	var canvas = document.getElementById('canvas');
    	if(canvas && typeof(canvas.getContext) === 'function') {
        	var ctx = canvas.getContext('2d');
        	if(ctx) {
          		//ctx.arc(x, y, radius, startAngle, endAngle, anticlockwise)
        		  ctx.beginPath();
          		ctx.arc(300,50,10,0,Math.PI*2,false);
          		ctx.stroke();
        	}
		}
</script>
