
</head>
<body style="margin: 0px">
  <div style="position: absolute">
    <canvas id="canvas" width="1280" height="720"></canvas>
  </div>
  <div align="center">
    <img src="./moon0053.png" height="100%">
  </div>
    
</body>
</html>