* {
    margin:0;
    padding:0;
}
body {
    margin:0;
    padding:0;
}
#contents {
    margin:0;
    padding:0;
    width: 100%;
    background: #0C0C0C;
    background-image: url("https://dl.dropboxusercontent.com/u/16268979/rails/background.png");
}
#contents .s-left {
    /*background:#F00;*/
    width: 10%;
    min-height: 200px;
    float: left;
}
#contents .s-center {
    /*background:#0F0;*/
    width: 80%;
    min-height: 200px;
    float:left;
}
#contents .s-right {
    /*background: #00F;*/
    width: 10%;
    min-height: 200px;
    float:left;
}
.left-allow {
    text-align : center;
}
#l-allow-button {
    opacity: 0.5;
}
#l-allow-button:hover {
    opacity: 1;
}

.right-allow {
    text-align : center;
}

#r-allow-button {
    opacity: 0.5;
}
#r-allow-button:hover {
    opacity: 1;
}

button {
    width: auto;
    padding:0;
    margin:0;
    background:none;
    border:0;
    line-height:0;
    overflow:visible;
    cursor:pointer;
}

#play-button {
    background:none;
    opacity: 0.5;
}
#play-button:hover {
    background:none;
    opacity: 1;
}
/* フッタの色 */
#foot {
    background: #0C0C0C;
    background-image: url("https://dl.dropboxusercontent.com/u/16268979/rails/background.png");
}
/* ヘッダの色 */
#head {
    background: #0C0C0C;
    background-image: url("https://dl.dropboxusercontent.com/u/16268979/rails/background.png");
}
