<div data-role="footer" id="foot">
  <div class="f-left">
  </div>
  <div class="f-center">
    <button id="play-button"><%= image_tag("play.png", :alt => "button") %></button>
  </div>
  <div class="f-right">
  </div>
</div><!-- #footer -->
</div><!-- #home -->
</body>
</html>
